<div class="modal-container">
  <div class="modal-header">Confirmação</div>
  <mat-divider></mat-divider>
  <div class="modal-content">
    <p>Você perderá todas as alterações realizadas, deseja continuar?</p>
  </div>
  <mat-divider></mat-divider>
  <div class="buttons-footer">
    <button mat-raised-button color="primary" (click)="confirm()"><mat-icon>check</mat-icon> Confirmar</button>
    <button mat-raised-button (click)="closeModal()"><mat-icon>close</mat-icon> Cancelar</button>
  </div>
</div>
