.table {
  margin-top: 20px;
}

tr.teacher-position-detail-row {
  height: 0;
}

tr.teacher-position-row:not(.teacher-position-expanded-row):hover {
  background: whitesmoke;
}

tr.teacher-position-row:not(.teacher-position-expanded-row):active {
  background: #efefef;
}

.teacher-position-row td {
  border-bottom-width: 0;
}

.teacher-position-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .teacher-position-detail-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 15px;
    align-items: center;
    flex-wrap: wrap;

    .student-item {
      flex: 1 0 25%;
      padding: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      text-align: center;
    }
  }
}

.add-button-container {
  display: block;
  margin-top: 15px;
}
